*,
*::after,
*::before{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
a{
    text-decoration: none;
}

ul{
    list-style: none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header{
    margin-top: 4rem;
    .container{
        max-width: 72rem;
        margin: 0 auto;
    }
}

nav{
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    // justify-content: center;
    align-items: center;
    .navbar_left{
        .nam{
            display: none;
        }

        .menu{
            font-size: 2.5rem;
            border: none;
            background: none;
            cursor: pointer;
        }
    }
}



.header_text{
    margin-top: 8.2rem;
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    .header_tabel{
        display: flex;
        justify-content: space-between;
        justify-content: flex-end;
        // .mobilka{
            // height: 23rem;
        // }
        .destopTablet{
            display: none;
        }
    }

    .Simple_Bookmark_Manager{
        text-align: center;
        max-width: 93%;
        margin: auto;
        h1{
            margin-top: 5rem;
            color: #242A45;
            text-align: center;
            font-family: Rubik;
            font-size: 3rem;
            font-weight: 500;
            line-height: 4rem; 
            letter-spacing: -0.0094rem;
        }
        p{
            color: #242A45;
            text-align: center;
            font-family: Rubik;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 2.5rem;
            margin-bottom: 3.8rem;
        }
        ul{
            display: flex;
            justify-content: center;
            column-gap: 1.4rem;
            .get_chrome{
                width: 15.1rem;
                border: none;
                height: 4.8rem;
                border-radius: 0.5rem;
                background: #5267DF;
                box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20);

                a{
                    padding: 1rem;
                    color: #FFF;
                    text-align: center;
                    font-family: Rubik;
                    font-size: 1.4rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 2.8rem; 
                    letter-spacing: 0.025rem;
                }
            }
            .get_Firefox{
                width: 15.1rem;
                border: none;
                height: 4.8rem;
                background: #F7F7F7;
                box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20);

                a{
                    padding: 1rem;
                    color: #242A45;
                    text-align: center;
                    font-family: Rubik;
                    font-size: 1.4rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 2.8rem; 
                    letter-spacing: 0.025rem;
                    
                }
            }


        }
    }
}

// .destop{
//     display: none;
// }

main{
    margin-top: 14rem;
    .Features{
        max-width: 93%;
        margin: 0 auto;
        h2{
            color: #242A45;
            text-align: center;
            font-family: Rubik;
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 5.2rem; 
            letter-spacing: -0.0075rem;
        }
        p{
            color: #242A45;
            text-align: center;
            font-family: Rubik;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 2.5rem; 
        }
        ul{

            margin-top: 4rem;
            margin-bottom: 7.2rem;
            text-align: center;
            .hr{
                margin-top: 2rem;
                margin-bottom: 2rem;
            }

            .elimet{
                color: #242A45;
                text-align: center;
                font-family: Rubik;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.7rem; 
                letter-spacing: 0.0533rem;
                opacity: 0.75;
            }
            .elimet_button{
                width: 97%;
                padding: 2rem 1rem 2rem 1rem;
                border-left: none;
                border-right: none;
                border: 1px solid rgba(73, 93, 207, 0.20);
            }
            .elimet:hover{
                color: #FA5959;
            }
            .elimet:Visited{
                opacity: 1;
            }
            
        }
    }
}

.Bookmark{
    display: flex;
    flex-direction: column;
    row-gap: 3.2rem;
    margin-bottom: 7.7rem;
    // text-align: center;
    .bookmark_left{
        max-width: 100%;
        padding-left: 3.2rem;
        padding-right: 3.2rem;
        margin: 0 auto;
        h2{
            color: #242A45;
            text-align: center;
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 5.2rem;
            letter-spacing: -0.0075rem;
        }
        p{
            color: #242A45;
            text-align: center;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 2.5rem; 
            margin-bottom: 1.2rem;
        }
        .More_Info{
            width: 114px;
            height: 48px;
            border-radius: 5px;
            background: #5267DF;
            box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20);
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            a{
                color: #FFF;
                font-size: 14px;
                font-weight: 500;
                line-height: 28px;
                letter-spacing: 0.25px;
            }
        }
    }
}

.Download{
    max-width: 100%;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
    margin: 0 auto;
    text-align: center;
    h2{
        color: #242A45;
        text-align: center;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 5.2rem;
        letter-spacing: -0.0075rem;
    }
    h3{
        color: #242A45;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 2.5rem; 
        margin-bottom: 4rem;
    }
    .browzer{
        display: flex;
        flex-direction: column;
        row-gap: 4rem;
        .Chrome{
            width: 28rem;
            height: 39.5rem;
            margin: 0 auto;
            border-radius: 1.5rem;
            background: #FFF;
            box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.20);
            .brovzer{
                margin-top: 5rem;
                margin-bottom: 3.2rem;
            }
            .add_h2{
                color: #242A45;
                text-align: center;
                font-size: 2rem;
                font-weight: 500;
                letter-spacing: 0.025rem;
            }
            p{
                color: #242A45;
                text-align: center;
                font-family: Rubik;
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 400;
                line-height: 2.8rem; 
            }
            .Combined{
                margin-top: 3.2rem;
                margin-bottom: 2.4rem;
                width: 28rem;

            }
            .Extension{
                width: 232px;
                border: none;
                height: 48px;
                border-radius: 5px;
                background: #5267DF;
                box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20);
                a{
                    color: #FFF;
                    text-align: center;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 28px;
                    letter-spacing: 0.25px;
                }
            }
        }
    }
}

.h2_none{
    display: none;
    color: #242A45;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
}
.Frequently{
    margin-top: 14rem;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
    text-align: center;
    h2{
        color: #242A45;
        text-align: center;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 3rem; 
        letter-spacing: -0.0075rem;
        margin-bottom: 1.6rem;
    }
    .Here{
        color: #242A45;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 2.5rem;
        margin-bottom: 6.4rem;
    }

    .togil{
        max-width: 54rem;
        margin: 0 auto;
        padding-bottom: 4.8rem;
        .Asked{
            display: flex;
            justify-content: space-between;
            align-items: center;
            button{
                background: none;
                border: none;
                // border-left: none;
                // border-right: none;
                // border-top: none;
                // padding: 2rem 0rem 2rem 0rem;
            }
            .pas{
                width: 16px;
                height: 8px;
                stroke-width: 3px;
                stroke: #5267DF;
                margin-right: 2rem;
            }
            .namber:hover{
                color: #FA5959;
            }
            .button:hover{
                color: #FA5959;
            }
            p{
                color: #242A45;
                text-align: center;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 3.2rem;
            }
        }
        .hr{
            margin-top: 2rem;
            margin-bottom: 2rem;
            display: block;
        }
    }
    .More_Info{
        width: 114px;
        height: 48px;
        border-radius: 5px;
        background: #5267DF;
        box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20);
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        a{
            color: #FFF;
            font-size: 14px;
            font-weight: 500;
            line-height: 28px;
            letter-spacing: 0.25px;
        }
    }
}

.Whoops{
    display: none;
}
footer{
    margin-top: 12.3rem;
    background-color: #5267DF;
    .footer_container{
        text-align: center;
        // background-color: blanchedalmond;
        h2{
            padding-top: 6rem;
            color: #FFF;
            text-align: center;
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 4rem;
            letter-spacing: 0.4615rem;
        }
        h3{
            color: #FFF;
            text-align: center;
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 2.8rem; 
            letter-spacing: -0.075px;
        }
        ul{
            margin-top: 3.2rem;
            display: flex;
            flex-direction: column;
            row-gap: 1.6rem;
            .email{
                width: 31.1rem;
                height: 4.8rem;
                border-radius: 0.5rem;
                background: #FFF;
                border: none;
                padding: 1rem;
            }
            .Contact{
                width: 31.1rem;
                border: none;
                height: 4.8rem;
                border-radius: 0.5rem;
                background: #FA5959;
                margin-bottom: 6rem ;
                box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20);
                a{
                    color: #FFF;
                    text-align: center;
                    font-size: 1.4rem;
                    font-weight: 500;
                    line-height: 2.8rem; 
                    letter-spacing: 0.025rem;
                }
            }

        }
        .footer_bottom{
            background: #242A45;
            padding-top: 3.8rem;
            padding-bottom: 3.8rem;

            .footer_rigth{
                .footer_ul{
                    display: flex;
                    flex-direction: column;
                    row-gap: 3.2rem;
                    a{
                        color: #FFF;
                        text-align: right;
                        font-family: Rubik;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 17px; 
                        letter-spacing: 1.731px;
                    }
                }
            }
            .footer_left{
                text-align: center;
                // background-color: #F7F7F7;
                .facebook{
                    color: #F7F7F7;
                }
                ul{
                    display: flex;
                    column-gap: 2.6rem;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    .icon{
                        font-size: 2.5rem;
                        color: #F7F7F7;
                        margin-bottom: 4.3rem;
                        background: #F7F7F7;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:1140px) {
   
header{
    margin-top: 5rem;
    .container{
        max-width: 166rem;
        margin: 0 auto;
    }
}

nav{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navbar_left{
        ul{
            display: flex;
            column-gap: 4.4rem;
            align-items: center;
            .nam{
                display: block;
                a{
                    color: #242A45;
                    text-align: right;
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 17px;
                    letter-spacing: 1.5px;
                }
                button{
                    border: none;
                    width: 111px;
                    height: 40px;
                    border-radius: 5px;
                    background: #FA5959;
                    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20);
                    a{
                        color: #FFF;
                        font-weight: 500;
                        padding: 3rem;
                    }
                }
            }
            
        }

        .menu{
            display: none;
            font-size: 2.5rem;
            border: none;
            background: none;
        }
    }
}

.header_text{
    margin-top: 12.7rem;
    display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    .header_tabel{
        display: flex;
        justify-content: space-between;
        justify-content: flex-end;
        .destopTablet{
            // height: 67.5rem;
            display: none;
        }
        .mobilka{
            height: 48.35rem;
        }
    }

    .Simple_Bookmark_Manager{
        margin-left: 7rem;
        // max-width: 55rem;
        // text-align: start;
        max-width: 54rem;
        // margin: auto;
        padding-left: 0rem;

        h1{
            text-align: start;
            color: #242A45;
            font-family: Rubik;
            font-size: 48px;
            font-style: normal;
            font-weight: 500;
            line-height: 52px;
            letter-spacing: -0.15px;
        }
        p{
            color: #242A45;
            font-size: 18px;
            font-weight: 400;
            line-height: 28px; 
            text-align: start;
            margin-top: 2.4rem;
        }
        ul{
            display: flex;
            justify-content: start;
            column-gap: 1.4rem;
            .get_chrome{
                width: 15.1rem;
                border: none;
                height: 4.8rem;
                border-radius: 0.5rem;
                background: #5267DF;
                box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20);

                a{
                    color: #FFF;
                    text-align: center;
                    font-family: Rubik;
                    font-size: 1.4rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 2.8rem; 
                    letter-spacing: 0.025rem;
                }
            }
            .get_Firefox{
                width: 15.1rem;
                height: 4.8rem;
                background: #F7F7F7;
                box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20);

                a{
                    color: #242A45;
                    text-align: center;
                    font-family: Rubik;
                    font-size: 1.4rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 2.8rem; 
                    letter-spacing: 0.025rem;
                }
            }


        }
    }
}


main{
    margin-top: 8rem;
    .Features{
        max-width: 54rem;
        margin: 0 auto;
        h2{
            font-size: 3.2rem;
            letter-spacing: -0.01rem;
        }
        p{
            text-align: center;
            font-size: 1.8rem;
            line-height: 2.8rem; 
        }
        ul{
            margin-top: 4rem;
            margin-bottom: 7.2rem;
            text-align: center;
            display: flex;
            justify-content: space-between;
            justify-content: center;

            .elimet_button{
                width: 24.3rem;
                border: 1px solid  rgba(73, 93, 207, 0.20);
                padding: 3.2rem 0rem 3.2rem 0rem;
                border-left: none;
                border-right: none;
                border-top: none;
                background: none;

                .elimet{
                    color: #242A45;
                    text-align: center;
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 1.7rem; 
                    letter-spacing: 0.0533rem;
                }
            }
        }
    }
}

.Bookmark{
    max-width: 153.6rem;
    flex-direction: row;
    row-gap: 0rem;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    .Features{
        height: 48.35rem;
        width: 55rem;
        margin-bottom: 15rem;
    }
    .bookmark_left{
        padding-left: 0rem;
        padding-right: 16.5rem;
        margin: 0px;
        h2{
            color: #242A45;
            text-align: start;
            font-size: 3.2rem;
            font-weight: 500;
            line-height: 5.2rem;
            letter-spacing: -0.01rem;
        }
        p{
            max-width: 44.5rem;
            color: #242A45;
            text-align: start;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 2.8rem; 
            margin-bottom: 1.2rem;
        }
        .More_Info{
            width: 114px;
            height: 48px;
            border-radius: 5px;
            background: #5267DF;
            box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20);
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0px;
            a{
                color: #FFF;
                font-size: 14px;
                font-weight: 500;
                line-height: 28px;
                letter-spacing: 0.25px;
            }
        }
    }
}

.Download{
    max-width: 100%;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
    margin: 0 auto;
    text-align: center;
    h2{
        color: #242A45;
        text-align: center;
        font-size: 3.2rem;
        font-weight: 500;
        line-height: 5.2rem;
        letter-spacing: -0.01rem;
    }
    h3{
        max-width: 54rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 2.8rem; 
        padding-bottom: 4.8rem;
        margin: 0 auto;
    }
    .browzer{
        max-width: 91.5rem;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3,auto);
        grid-template-rows: repeat(7,4rem);
        column-gap: 3.4rem;
        .Chrome{
            width: 28rem;
            height: 39.5rem;
            margin: 0 auto;
            border-radius: 1.5rem;
            background: #FFF;
            box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.20);
            .brovzer{
                margin-top: 4.8rem;
                margin-bottom: 3.2rem;
            }
            .add_h2{
                color: #242A45;
                text-align: center;
                font-size: 2rem;
                font-weight: 500;
                letter-spacing: 0.025rem;
            }

            p{
                color: #242A45;
                text-align: center;
                font-family: Rubik;
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 400;
                line-height: 2.8rem; 
            }
            .Combined{
                margin-top: 3.2rem;
                margin-bottom: 2.4rem;
                width: 28rem;

            }
            .Extension{
                width: 232px;
                border: none;
                height: 48px;
                border-radius: 5px;
                background: #5267DF;
                box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20);
                a{
                    color: #FFF;
                    text-align: center;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 28px;
                    letter-spacing: 0.25px;
                }
            }
            
        }

        // grit divlar 
        .chrome_grit{
            grid-row:1/6;
            grid-column: 1/2;
        }
        .Firefox_grit{
            grid-row:2/7;
            grid-column: 2/3;
        }
        .Opera_grit{
            grid-row:3/8;
            grid-column: 3/4;
        }


    }
}


// block h2 

// Frequently div 


.Frequently{
    margin-top: 15rem;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
    text-align: center;
    h2{
        color: #242A45;
        text-align: center;
        font-size: 3.2rem;
        font-weight: 500;
        line-height: 5.2rem; 
        letter-spacing: -0.01rem;
        // margin-bottom: 1.6rem;
    }
    .Here{
        color: #242A45;
        text-align: center;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 2.8rem;
        padding-bottom: 5.6rem;
        max-width: 49rem;
        margin: 0 auto;
    }

    .togil{
        max-width: 54rem;
        margin: 0 auto;
        padding-bottom: 4.8rem;
        .Asked{
            display: flex;
            justify-content: space-between;
            align-items: center;
            button{
                background: none;
                border: none;
            }
            .pas{
                width: 3rem;
                height: 3rem;
                stroke-width: 3px;
                stroke: #5267DF;
                margin-right: 2rem;
                padding: 0.5rem;
            }
            p{
                color: #242A45;
                text-align: center;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 3.2rem;
            }
        }
        .hr{
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }
    .More_Info{
        width: 114px;
        height: 48px;
        border-radius: 5px;
        background: #5267DF;
        box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20);
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        a{
            color: #FFF;
            font-size: 14px;
            font-weight: 500;
            line-height: 28px;
            letter-spacing: 0.25px;
        }
    }
}

.Whoops{
    display: none;
}   


footer{
    margin-top: 16rem;
    background-color: #5267DF;
    .footer_container{
        text-align: center;
        // background-color: blanchedalmond;
        h2{
            padding-top: 6rem;
            color: #FFF;
            text-align: center;
            font-size: 1.3rem;
            font-weight: 500;
            line-height: 4rem;
            letter-spacing: 0.5rem;
        }
        h3{
            color: #FFF;
            text-align: center;
            font-size: 3.2rem;
            font-weight: 500;
            line-height: 4rem; 
            letter-spacing: -0.01px;
            max-width: 41rem;
            margin: 0 auto;
        }
        ul{
            padding-top: 3.2rem;
            display: flex;
            flex-direction: row;
            column-gap: 1.6rem;
            max-width: 45rem;
            margin: 0 auto;

            .email{
                width: 30rem;
                height: 4.8rem;
                border-radius: 0.5rem;
                background: #FFF;
                border: none;
                padding: 1rem;
            }
            .Contact{
                width: 12.6rem;
                border: none;
                height: 4.8rem;
                border-radius: 0.5rem;
                background: #FA5959;
                margin-bottom: 6rem ;
                box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20);
                a{
                    color: #FFF;
                    text-align: center;
                    font-size: 1.4rem;
                    font-weight: 500;
                    line-height: 2.8rem; 
                    letter-spacing: 0.025rem;
                }
            }

        }
        .footer_bottom{
            background: #242A45;
            padding-top: 4rem;
            max-width: 100%;
            // margin: 0 auto;
            .footer_bottom_container{
                display: flex;
                justify-content: space-between;
                max-width: 112rem;
                margin: 0 auto;
                .footer_rigth{
                    .footer_ul{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        column-gap: 5rem;

                        .logo_svg{
                            margin-right: 6.5rem;
                        }
                        // row-gap: 3.2rem;
                        a{
                            color: #FFF;
                            text-align: right;
                            font-family: Rubik;
                            font-size: 13px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 17px; 
                            letter-spacing: 1.5px;
                        }
                    }
                }
                .footer_left{
                    text-align: center;
                    // background-color: #F7F7F7;
                    .facebook{
                        color: #F7F7F7;
                    }
                    ul{
                        display: flex;
                        column-gap: 2.6rem;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        .icon{
                            font-size: 2.5rem;
                            color: #F7F7F7;
                            margin-bottom: 4.3rem;
                            background: #F7F7F7;
                        }
                    }
                }
            }
        }
    }
}

}


















// blocklar 

// bars 
.section_bookmark{
    display: none;
    align-items: center;
}
.however_section{
    display: none;
    align-items: center;
}
.Organize_section{
    display: none;
    align-items: center;
}
.bars{
    display: none;
    margin-top: -5rem;
    width: 100%;
    height: 100%;
    opacity: 0.95;
    background: #242A45;
    backdrop-filter: blur(16.309690475463867px);
    position: absolute;
    z-index: 10;
    .bars_activ{
        margin-top: 5rem;
        .bars_container{
            max-width: 50rem;
            margin: 0 auto;
            .logo{
                ul{
                    width: 95%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 0 auto;
                }
                margin-bottom: 4rem;
            }
            .bars_container_elimetlar{
                padding-left: 1rem;
                padding-right: 1rem;
                max-width: 50rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: 0 auto;
                text-align: center;
                button{
                    width: 31rem;
                    padding: 2.5rem 0rem 2.5rem 0rem;
                    border: 1px solid #fff;
                    border-left: none;
                    border-right: none;
                    // border: opacity(0.15);
                    background: none;
                    a{
                        color: #FFF;
                        text-align: center;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 17px;
                        letter-spacing: 2.308px;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}


#h2_none{
    display: none;
    color: #242A45;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 36px; 
    letter-spacing: 0.15px;
    text-align: start;
    margin-top: 3.2rem;
}

// hoverlar 
